{{ define "route-read-row"  }}
<div class="route-read-row" id="route-{{ .ID.Hex }}" style="display:flex; align-items:center; gap:0.5rem;">
          <span class="route-name" style="width:200px; display:inline-block;">
        {{ .Name }}
          </span>


<form>
  <!-- hx-get="/stops/{{ .ID.Hex }}" -->
  <!-- hx-target="closest .stop-row" -->
  <!-- hx-swap="outerHTML" -->
  <!-- style="display:inline;"> -->
  <button>Edit</button> <!---Not operational yet -->
</form>


<form
  hx-delete="/routes/{{ .ID.Hex }}"
  hx-target="closest .route-read-row"
  hx-swap="outerHTML"
  style="display:inline;">
  <button>Delete</button>
</form>

</div>
{{ end }}
